body{
  text-align: center;
  background-color: oldlace;
}

.App{
  margin-top:10%;
}


.description{
  font-family:sans-serif;
  font-size: 17px;
  font-weight: normal;
  margin-right: 10px;
}

.nav{
  font-family:sans-serif;
  font-size: 13px;
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
  margin-top:25px;
  margin-left:90%;
}


.remove-highlighting{
  border:none;
  outline:none;
  text-decoration:none;
  color:inherit;
}

.search-bar{
  border-radius: 10px white;
  padding: 10px;
  width: 20%;
  color:black;
  border: none;
  resize: none;
  outline: none;
  border-radius: 7px;
}


.search-button {
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  height: center;
}
.video  {
  width: 750px;
  height:315px;
  border-radius:10px;
}
.skip-button{
  background-color: transparent;
  border: none;
  resize: none;
  outline: none;
  text-align: center;
  height: center;
}

.input {
  background-color: transparent;
  color: black;
  outline: none;
  outline-style: none;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid black 1px;
  padding: 3px 1px;
  width: 35%;
  display: block;
  z-index: 100;
  margin-left:55vh;
  margin-top:11vh;
  position:absolute;
}

.comment-button{
 margin-left:31vh;
 margin-top:10vh;
 position:absolute;

}
